.dialogs {
    display: grid;
    grid-template-columns: 2fr 12fr;


}

.dialogsItem {
    padding: 10px;
    text-decoration: none;
}

.dialogsItem a {
    text-decoration: none;
    color: rgb(95, 92, 92);
    

}

.dialogsItem .active {
    color: black;
}



.messages {
    padding: 10px;
    text-align: center;
}

.message {}